@{
    ViewData["Title"] = "My Podcasts";
}

@*cute little link to the podcast site*@

<h1>@ViewData["Title"]</h1>

<div>
    <h3>You need to check this Podcast out!</h3>
    <p>Click <a href="https://baconsale.com/">here</a> to visit the Bacon Sale Podcast site!</p>
</div>
